<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>if-unleass</title>
</head>
<body>
    <div style="margin-left: 400px">
        <h3>if 使用</h3>
        <p th:if="${sex == 'm'}">性别是男</p>
        <p th:if="${isLogin}">已经登陆系统</p>
        <p th:if="${age >20}">年龄大于20</p>
        <!--""空字符串是真-->
        <p th:if="${name}">name是""</p>
        <!--null是false-->
        <p th:if="${isOld}">isOld是一个null</p>
    </div>

    <br/>
    <br/>
    <div style="margin-left: 400px">
        <h3>unless：判断条件为false，显示标签体内容</h3>
        <p th:unless="${sex == 'f'}">性别是男</p>
        <p th:unless="${isLogin}">已经登陆系统</p>
        <p th:unless="${age >20}">年龄大于20</p>
        <p th:unless="${name}">name是""</p>
        <p th:unless="${isOld}">isOld是一个null</p>
    </div>
</body>
</html>